button{
    height: 40px;
    cursor: pointer;
    background-color: pink;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 25px;
    color: black;
    width: 300px;
    margin-top: 7%;
}
/* tab2.page.css */
.rojo {
    background-color: yellowgreen;
  }
  
  .verde {
    background-color: palevioletred;
  }
  


